* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    color: rgb(240, 240, 240);
    overflow: hidden;
}

a {
    color: rgb(240, 240, 240);
    text-decoration: none;
}

a,
p {
    font-family: 'Syne', sans-serif;
}

/* ===== Background Video ===== */
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

/* ===== Header & Navigation ===== */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 1.5rem 0;
    min-height: 10vh;
}

.logo a {
    font-size: 4rem;
    font-family: 'Rancho', cursive;
    font-weight: bold;
}

a {
    transition: color .3s ease-in-out;
}

a:hover {
    color: rgba(240, 240, 240, 0.7);
}

.nav-bar .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    transition: all .5s ease-in-out;
}

.nav-bar li {
    padding: 0 1rem;
}

.nav-bar a {
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: lowercase;
    border: none;
}

/* ===== Main Content ===== */
main {
    width: 75%;
    min-height: 50vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro {
    font-size: 1.5rem;
    text-align: center;
    line-height: 2rem;
}

.intro span {
    display: inline-block;
    font-weight: bold;
}

.img-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 70%;
    margin-top: 2.5rem;
    line-height: 1.8rem;
    font-size: 1.5rem;
}

.img-content img {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    -webkit-box-shadow: 5px 6px 4px 2px rgba(30, 12, 12, 0.41);
    -moz-box-shadow: 5px 6px 4px 2px rgba(30, 12, 12, 0.41);
    box-shadow: 5px 6px 4px 2px rgba(30, 12, 12, 0.41);
}

.img-content p {
    margin-left: 3rem;
}

/* ===== Social Media & Footer Section ===== */
.social-media-container,
footer {
    width: 20%;
    min-height: 5vh;
    margin: 4rem auto 0;
    text-align: center;
}

.social-media-container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.sm-link {
    font-size: 1.7rem;
    transition: color .4s ease-in-out;
}

.instagram:hover {
    color: palevioletred;
}

.twitter:hover {
    color: #1DA1F2;
}

.youtube:hover {
    color: #FF0000;
}

.spotify:hover {
    color: #1DB954;
}

footer {
    font-size: 1.3rem;
    margin: 2rem auto 0;
}

/* Responsiveness */

@media (min-width: 992px) {
    header {
        width: 90%;
    }

    main {
        width: 85%;
    }

    .img-content {
        width: 80%;        
    }

    .social-media-container {        
        min-height: 4vh;
        margin: 3rem auto 0;        
    }

    .sm-link {
        font-size: 1.4rem;
    }

    footer {
        width: 50%;
        font-size: 1.2rem;
        margin: 3rem auto 0;
    }
}

@media (min-width: 768px){
    header {
        width: 95%;
    }

    main {
        width: 90%;
    }

    .img-content {
        width: 85%; 
    }

    .social-media-container {        
        min-height: 4vh;
        margin: 3rem auto 0;        
    }    

    footer {        
        font-size: 1.1rem;        
    }
}

@media (min-width: 600px){
    body{
        overflow: auto;
        height: 100%;
    }

    header {
        width: 98%;
    }

    main {
        width: 90%;        
    }

    .intro{
        font-size: 1.3rem;
        line-height: 1.8rem;
    }

    .img-content {
        width: 90%;        
        flex-direction: column;
        font-size: 1.3rem;
    }

    .img-content img {
        width: 50%;
        height: 50%;
        margin-bottom: 2rem;
    }

    .img-content p {
        margin-left: 0rem;
        text-align: center;
    }    

    footer {
        width: 90%;        
    }
}

@media (max-width: 600px){
    body{
        overflow: auto;
        height: 100%;
    }

    header {
        width: 98%;
    }

    .nav-bar {
        margin-top: 2.5rem;
    }

    main {
        width: 95%;        
    }    

    .img-content {
        width: 95%;        
        flex-direction: column;
        font-size: 1.3rem;
    }

    .img-content img {
        width: 70%;
        height: 70%;
        margin-bottom: 2rem;
    }

    .img-content p {
        margin-left: 0rem;
        text-align: center;
    }    

    footer {
        width: 100%;        
    }
}

@media (max-width: 480px){    
    header {
        width: 99%;
    }    

    .logo a {
        font-size: 3rem;        
    }

    .nav-bar {
        margin-top: 1.8rem;
    }

    .nav-bar li {
        padding: 0 .5rem;
    }

    .nav-bar a {
        font-size: 1.2rem;        
    }

    .intro{
        font-size: 1.1rem;
        line-height: 1.8rem;
    }

    .img-content {
        width: 95%;        
        flex-direction: column;
        font-size: 1.1rem;
    }

    .img-content img {
        width: 70%;
        height: 70%;        
    }    

    footer {
        font-size: 1.1rem;      
    }
}